page-about {
    .about-header {
        background-color: #455;
        color: white;
        width: 100%;
    }
    .about-slogan {
        font-style: italic;
        text-align: center;
    }

    .about-title {
        text-align: center;
    }
    
    .about-version {
        text-align: center;
    }

}
