page-workout {
    // Narrow the checkbox's width / click target
    ion-checkbox {
        button.item-cover {
            left: initial;
            right: 0;
            width: 15%;
        }
    }

    & .skipped-exercise {
        font-style: italic;
    }
}
