<ion-header>
  <ion-navbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Upload</ion-title>   
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
  <ion-segment [(ngModel)]="messageTypeFilter" (ionChange)="updateSelectedMessages()">
    <ion-segment-button value="summary">
      Summary
    </ion-segment-button>    
    <ion-segment-button value="fitlinxx">
      FitLinxx
    </ion-segment-button>  
    <ion-segment-button value="fitbit">
      Fitbit
    </ion-segment-button>       
    <ion-segment-button value="email">
      Email
    </ion-segment-button>     
  </ion-segment>
  </div>
  <ion-list>
    <ion-item text-wrap *ngFor="let message of selectedMessages">    
      {{message}}
    </ion-item>
  </ion-list>
</ion-content>

<div class="hide">
  <div id="formattedWorkout" #formattedWorkout>
    <h2>Set 2 Workout</h2>
    <h3>Workout completed on {{workoutCompleteDate | date:yMMMMEEEEdjm}}</h3>      

    <h4>Completed Exercises:</h4>    
    <ul>
      <ng-container *ngFor="let exercise of workout.exercises">    
        <li *ngIf="exercise.done">
          {{exercise.activityName}}
        </li>
      </ng-container>
    </ul>

    <h4>Skipped Exercises:</h4>    
    <ul>
      <ng-container *ngFor="let exercise of workout.exercises">    
        <li *ngIf="exercise.skipped || !exercise.done">
          {{exercise.activityName}}
        </li>
      </ng-container>
    </ul>    

  </div>
</div>
