page-exercise {
    // Narrow the checkbox's width / click target
    ion-checkbox {
        button.item-cover {
            left: initial;
            right: 0;
            width: 15%;
        }
    }

    input {
        font-size: 2.5rem;
    }

    .activity-image {
        height: 75px;
    }
}
